<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>Splurty was built by Jeff Powers. This web application is a compilation of quotes from the North American version of the television show <a href="http://www.nbc.com/the-office" target="_blank"><i>The Office</i></a>. <strong><i>Please be adivsed that these quotes are not recommended for use in the office!</i></strong></p>
	<p>If you have a favorite quote from <i>The Office</i> that you would like to add, please do so <%= link_to 'here', '#', :data => {:toggle => 'modal', :target => '#myModal'} %>.</p>


	<br />
	<br />

	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'Jeff_Powers.jpeg', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-offset-1">
		<h2 class="text-center">Jeff Powers</h2>
		<p>Jeff builds digital marketing machines for small businesses that want to grow. One local company he worked with started with no web presence and was able to achieve 30% growth. Currently, Jeff is working to create and implement a global website strategy, after having developed marketing processes that drive leads and new business. His curiosity and passion to learn, apply, and create drives everything he does, and he equally enjoys helping others do the same.</p>
	</div>
</div>

<br class="clear" />
<br />
<br />
<br />