<div class="alert alert-success" role="alert">You successfully added the following quote from The Office.</div>

<h2>
	<span>SPLURTY / No. <%= @added_quote.id %></span>
	Don't come in to work tomorrow if you said...
</h2>

<br class="clear" />
<br />

<h1><%= @added_quote.saying %></h1>
<h2 class="pull-right">- <%= @added_quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />